.btn {
  padding: 0.5rem;
  background-color: #fff;
  border: none;
  text-transform: uppercase;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    transform: translateY(-0.25rem);
  }

  &:active {
    transform: translateY(0);
  }
}
