@import '../../styles/variables.scss';

.show-list__container {
  width: 100%;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.show-card {
  width: 100%;
  padding: 1rem;
  display: flex;
  background-color: $color-primary;
  margin-bottom: 1rem;
  border-radius: 1rem;
  color: $color-white;

  &__image {
    width: 8rem;
  }

  &__content {
    width: 100%;
    margin-left: 0.5rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    &__title {
      margin-bottom: .5rem;
    }

    &__link {
      color: $color-secondary;
    }
  }
}
